.contentContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 100vh;
  z-index: 100;
}
.gachaBackground {
  position: relative;
  width: 100%;
}
.notInLandscape{
  text-align: center;
  display: none;
}
@media screen and (orientation:portrait) {
  .contentContainer{
    display: none;
  }
  .notInLandscape{
    display: block;
  }
}
