.bannerImage {
  width: 100%;
  user-select: none;
  -webkit-user-drag: none;
  border-radius: 10px;
}
.bannersBtns {
  display: flex;
  position: absolute;
  top: -80px;
}

@media only screen and (max-width: 960px) {
  .bannerImage {
    width: 60%;
  }

  .bannersBtns {
    top: unset;
    flex-direction: column;
    left: 0px;
  }
}
