.container{
    padding: 5px;
    margin: 10px 5px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.container img{
    width: 100px;
    height: 100px;
    user-select: none;
    -webkit-user-drag: none;
}

.name{
    display: flex;
    border-radius: inherit;
    align-items: center;
    transition: .3s;
    position: absolute;
    font-size: 19px;
    top: 0;
    left: 0;
    text-align: center;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.384);
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.452);
    opacity: 0;
}

.container:hover .name{
    opacity: 1;
}
