.confirmBtn {
    background-color: #34495e;
  
    border: 0;
    cursor: pointer;
    user-select: none;
  }
  
  .confirmBtn {
    transition: 0.3s;
    width: 100px;
    border-radius: 10px;
    padding: 5px 2px;
  }
  
  .confirmBtn:hover {
    background-color: rgba(52, 73, 94, 0.451);
    color: white;
  }
  
  .resultBtns {
    display: flex;
    gap: 10px;
  }