.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.24);
  z-index: 1;
}

.modal_content {
  position: relative;
  background-color: #e5e2db;
  border-radius: 10px;
  width: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 20px 0;

  color: white;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.menuModal {
  justify-content: flex-start;
  position: absolute;
  border: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  
}

.modal_content.menuContent {
  position: unset;
  
  background-color: rgba(0, 0, 0, 0.44);
  width: 197px;
  height: 100%;
  border-radius: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

@media only screen and (max-width: 960px) {
  .modal_content {
    width: 450px;
  }
  .modal_content.menuContent, .modal.menuModal {
    border-radius: 0;
  }
  .modal_content.menuContent {
    width: 180px;
  }
}
