.const{
    margin: 20px;
    
}
.const button{
    z-index: 2;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    user-select: none;
    font-size: 15px;
    transition: all .3s;
}
.const button:hover{
    transform: scale(1.2);
}


@media only screen and (max-width: 730px){
    .const{
        margin: 2px;
    }
}