.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modal_content {
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  background-color: white;
  border-radius: 20px;
  width: 70%;
  height: 80vh;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .modal_content {
    margin: 0 10px;
    width: 100%;
  }
}
