.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modal_content {
  position: relative;
  background-color: #34495e;
  border-radius: 20px;
  width: 540px;
  height: 85vh;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .modal_content {
    margin: 0 10px;
    height: 80vh;
    margin-bottom: 30px;
  }
}
