.const{
    position: absolute;
    top: 5%;
    left: 15%;
}

.content{
    text-align: center;
    width: 80%;
    padding: 15px;
    border-radius: 16px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
}

@media only screen and (max-width: 730px) {
    .const {
        position: relative;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    .content{
        width: 100%;
        border-radius: 0;
    }
    .content h2{
        font-size: 25px;
    }
}
