.btnsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  gap: 20px;
  align-items: center;
}

.consume h3 {
  color: #34495e;
}

.consume span {
  color: #e74c3c;
}

.consume {
  display: flex;
  align-items: center;
}
.consume img {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 960px) {
  .btnsContainer {
    gap: 10px;
  }
}
