* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #34495e;
}
#root {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.App {
  width: 800px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #8e44ad;
}
@media only screen and (max-width: 730px) {
  .App{
    margin-bottom: 50px;
  }
}