.wishCounterContainer {
  position: absolute;
  top: 30px;
  right: 60px;
  display: flex;
  font-size: 18px;
  gap: 25px;
}

@media only screen and (max-width: 960px) {
  .wishCounterContainer {
    top: 5px;
    right: 20px;
    font-size: 15px;
  }
}
